# Profile: S/MIME Email Certificate
# EKU: emailProtection + clientAuth

[ smime ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always
basicConstraints        = critical,CA:false
keyUsage                = critical,digitalSignature,keyEncipherment,nonRepudiation
extendedKeyUsage        = emailProtection,clientAuth
crlDistributionPoints   = @crl_info
authorityInfoAccess     = @ocsp_issuer_info

[ crl_info ]
URI.0                   = ${ENV::CDP_URL}

[ ocsp_issuer_info ]
OCSP;URI.0              = ${ENV::OCSP_URL}
caIssuers;URI.0         = ${ENV::AIA_URL}
